body {
    background-color: #b3c3f3;
}
h1 { text-align:center; font-family: "Georgia"; font-weight:bold;}
h2 { text-align:center; font-family: "Georgia"; font-weight:bold;}
h3 { text-align:left; font-family: "Georgia"; font-weight:bold;}
h4 { text-align:center; font-family: "Georgia"; font-weight:bold;}
table { width: 100%; border: 1px solid #ecf0fc;}
td { padding-left:1%; padding-right:1%; border: 1px solid #ecf0fc;}
th { padding-left:1%; padding-right:1%; border: 1px solid #ecf0fc;}

div#navbar {
    position: fixed;
    background-color: #203470;
    left: 0px;
    width: 100%;
    top: 0px;
    text-align: center;
    z-index: 1000;
}

.flex-list-nav{
  list-style:none;
  margin:20px;
  padding:0px;
  display: flex;
  -webkit-display: flex;
  flex-flow: row;
  -webkit-flex-flow: row;
  justify-content:center;
  -webkit-justify-content:center;
}

ul#list-nav li a {
  text-decoration:none;
  font-weight: bold;
  font-size: 125%;
  font-family: "Book Antiqua";
  background:#203470;
  color: #b3c3f3;
  text-align:center;
  padding: 20px;
}

ul#list-nav li a:hover {
  background:#b3c3f3;
  color:#203470;
}

div#content {
    color: #131f42;
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    top: 80px;
    font-family: "Book Antiqua";
    z-index: 0;
}
div#content.flex-speeches{
    height: 100vh;
}
.flex-content {
    display: flex;
    -webkit-display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

div#footer {
    background: rgba(141, 165, 237, 0.8);
    border-width:3px;
    border-style:groove;
    border-color:#00154c;
    padding-left: 2%;
    padding-right: 2%;
    padding-top:0;
    padding-bottom:0;
    font-size: 80%;
}
.flex-footer{
    order: 1;
    -webkit-order: 1;
}

.flex-footer a:link { color: #1d44b8;}
.flex-footer a:visited { color: #441db8;}
.flex-footer a:hover { color: #b8911d; }

.pFooter {
    padding:0;
}

.imgFooter {
    float: right;
    margin: 0px 0px 15px 15px;
}

.mainColumn {
    color: #ecf0fc;
    border-width:3px;
    border-style:groove;
    border-color:#203470;
    padding: 2%;
    background: rgba(39, 63, 135, 0.7);
}

.mainColumn a:link { color: #b3c3f3;}
.mainColumn a:visited { color: #c3b3f3;} 
.mainColumn a:hover { color: #f3e3b3;}

.flex-speeches {
    display: flex;
    -webkit-display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    -webkit-align-items: stretch;
}

div#speechDisplay {
    width: 75%;
    overflow: auto;
}
div#speechDisplay > h3 { text-align:center; font-family: "Georgia"; font-weight:bold;}

div#speechIndex {
    background: rgba(141, 165, 237, 0.7);
    width: 25%;
    border-width:3px;
    border-style:groove;
    border-color:#00154c;
    padding:2%;
    z-index:500;
    font-size: smaller;
    overflow: auto;
}
#speechIndex > ul { padding-left: 20px;}

#speechIndex span {color: #1d44b8; text-decoration: underline; cursor: pointer;}

#topicModel > table > tr > td > b { font-size: larger; }
#topicModel > table > tr > td > i { font-size: larger; }

.equalCol {
    table-layout: fixed;
}

